.page .document {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.page .document .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0 1rem;

  width: 100%;
  background-color: var(--color-background2);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.page .document .header .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  width: 100%;
  margin-top: 0.25rem;
}

.page .document .item {
  display: flex;
  flex-direction: column;

  width: 100%;
  background-color: var(--color-background2);
  border-radius: 0.5rem;
}

.page .document .item .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;

  width: 100%;
  padding: 0.5rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem 0.5rem 0 0;
}

.page .document .item .content {
  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 0.5rem;
}

.page .document .item .content.row {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}


/* OFFICERS & DISCORD */

.page .document .item .content.tech {
  display: grid;
  gap: 1rem;
  align-items: stretch;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.page .document .item .content .tech {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;

  background-color: var(--color-background3);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.page .document .item .content a.tech {
  color: var(--color-text);
  text-decoration: none;
}

.page .document .item .content a.tech:hover {
  cursor: pointer;
  background-color: var(--color-primary);
  transition: background-color 0.3s ease-in-out;
}

.page .document .item .content .tech img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;

  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

.page .document .item .content .tech div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;
}

.page .document .item .content .tech h4,
.page .document .item .content .tech p {
  text-align: center;
}