:root {
  --color-announcement: #702021;
  --color-announcement-text: #e3e3e3;

  --color-background: #242529;
  --color-background2: #18191d;
  --color-background3: #0d0e10;

  --color-text: #f0f0f0;
  --color-text2: #c4c4c4;
  --color-text3: #8a8a8a;

  --color-blue: #4a8ce0;
  --color-blue-background: #0b0f18;
  --color-blue-hover: #131d33;

  --color-green: #4bc13a;
  --color-green-background: #071508;
  --color-green-hover: #0e2715;

  --color-yellow: #cfbf45;
  --color-yellow-background: #1a190c;
  --color-yellow-hover: #272510;

  --color-orange: #e08c4a;
  --color-orange-background: #1a120b;
  --color-orange-hover: #2d1e13;

  --color-red: #d14545;
  --color-red-background: #180c0c;
  --color-red-hover: #2a1313;

  --color-primary: #3a4054;
  --color-primary-hover: #566080;
}
