:root {
  --color-announcement: #8e1619;
  --color-announcement-text: #e3e3e3;

  --color-background: #2b2c30;
  --color-background2: #1e1e20;
  --color-background3: #131314;

  --color-text: #e3e3e3;
  --color-text2: #b3b3b3;
  --color-text3: #7f7f7f;

  --color-green: #3bcf1d;
  --color-green-background: #0e2e0b;
  --color-green-hover: #053a15;

  --color-yellow: #c4c71f;
  --color-yellow-background: #2e290b;
  --color-yellow-hover: #693e00;

  --color-orange: #db7019;
  --color-orange-background: #311c0b;
  --color-orange-hover: #5a1e02;

  --color-red: #db1919;
  --color-red-background: #2e0b0b;
  --color-red-hover: #67090d;

  --color-primary: #494d61;
  --color-primary-hover: #7885c4;
}
